.header {
    display: flex;
    width: calc(100% - #{$sidebar-width});

    background-color: #0D0D0D;
    box-shadow: 0 5px 22px rgba($black, 0.25);

    position: fixed;
    top: 0;
    right: 0;
    z-index: $z-index-header;
}

.header__left {
    width: 60%;
}

.header__right {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}