.modal {
    display: none;
     // display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;

    background-color: rgba($black, 0.8);

    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-modal;
}

.modal__content {
    width: 100%;
    max-width: 500px;
    padding: 8rem;
    position: relative;

    background-color: $primary;
    border-radius: 5px;

    &--contact {
        padding-bottom: 2.5rem;
    }
}

.modal__close {
    width: 30px;
    height: 30px;
    border: 0;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.5;

    position: absolute;
    top: 2rem;
    right: 2rem;

    transition: 0.2s linear, opacity 0.2s linear;

    &:hover {
        transform: rotate(90deg);
        opacity: 1;
    }
}

.modal__footer {
    display: flex;
    justify-content: center;
    margin-top: 4rem;

    font-size: 1.2rem;
    color: #B2B2B2;

    li {
        margin: 0 0.5rem;
    }

    a {
        color: inherit;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}