.nav {
    @include breakpoint($tablet-bp) {
        display: none;
    }

    &--mobile {
        display: block;
        margin: 3rem 0;
    }
}

.nav__list {
    display: flex;

    @include breakpoint($tablet-bp)  {
        flex-direction: column;
    }
}

.nav__item {
    position: relative;

    &:hover {
        .nav__link { 
            text-decoration: none;         
            background-color: $blue;          
        }

        > .subnav {
            display: block;
        }
    }

    @include breakpoint($tablet-bp) {
        &:hover {
            .nav__link {
                background: none;
            }
        }
    }
}

.nav__link {
    display: block;
    padding: 1.35rem;

    font-size: 1.1rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;

    transition: background-color .2s linear;

    &.has-subnav {
        position: relative;
        padding-right: 3.5rem;
        font-size: 1.5rem;

        &:after {
            content: "";
            display: block;
            margin-top: 2px;
            border-style: solid;
            border-width: 6px 5px 0 5px;
            border-color: $white
            transparent transparent transparent;
            
            position: absolute;
            top: 50%;
            right: 1.35rem;
            transform: translateY(-50%);
        }
    }

    @include breakpoint($tablet-bp) {
        padding-left: 0;
        padding-right: 0;
        font-size: 1.6rem;
    }
}