.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;

    @include breakpoint($tablet-bp) {
        .show-sidebar & {
        position: relative;

        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;

            background-color: rgba($black, 0.9);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
        }
      }
    }
}

.page__title {
   margin-bottom: 3rem;
   font-size: 2.1rem;
   color: $white;

   &--center {
       text-align: center;
   }
}
