.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.page__title {
   margin-bottom: 3rem;
   font-size: 2.1rem;
   color: $white;

   &--center {
       text-align: center;
   }
}
