.profile__avatar {
    display: block;
    width: 10rem;
    height: 10rem;
    margin: 0 auto 2rem;

    position: relative;

    border: 2px solid $white;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

.profile__name {
    font-size: 1.8em;
    text-align: center;
}

.profile__prof {
    margin-bottom: 2rem;

    font-size: 1.4rem;
    font-weight: 300;
    color: #dedede;
    text-align: center;
}

.profile__text {
    padding: 3rem 0;
    margin: 3rem 0;
    font-size: 1.2rem;
    text-align: center;

    border-top: 1px solid #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
}