.subnav {
    display: none;
    width: 16.5rem;
    padding: 0.5rem 0;
    background-color: $blue;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 6px 8px rgba($black, 0.40);

    position: absolute;
    top: 100%;
    left: 0;
}

.subnav__link {
    display: block;
    padding: 0.45rem 1.2rem;
    font-size: 1.2rem;
    color: $white;
    text-decoration: none;

    transition: background-color .2s ease-in-out;

    &:hover {
        background-color: darken($blue, 5%);
    }
}