.work {
    display: flex;
    margin-bottom: 3rem;
    overflow: hidden;

    background-color: $primary;
    box-shadow: 0 15px 25px rgba($black, 0.35);
    border-radius: 5px;
}

.work__preview {
    width: 31rem;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.work__content {
    display: flex;
    flex-direction: column;
    max-width: 29rem;
    padding: 2.5rem;
}

.work__title {
    margin-bottom: 3rem;
    font-size: 2.4rem;
    color: $white;
    font-weight: 500;

    a {
        color: inherit;
    }
}

.work__description {
    margin-bottom: 3rem;
    font-size: 1.6rem;
    line-height: 1.68;
    font-weight: 300;
    color: #D2D2D2;
}

.work__footer {
    margin-top: auto;
    text-align: right;
}
